$color-primario: #222222;
$color-secundario: #ff4500;
$white: #ffffff;

.textoHome {
  position: relative;
  font-family: "Roboto Flex", sans-serif;
}

.img-camara {
  width: 90%;
}

.imagen-biobio {
  position: relative;
}

#rio-biobio {
  width: 44%;
}

.imagen-biobio img {
  position: absolute;
  top: -848px;
  left: 711px;
  width: auto;
  height: auto;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primario;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  
}


.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 36px;
  height: auto;
  margin-right: 10px;
}

.tooltip {
  display: none;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item a,
.navbar-text {
  color: $white;
  font-family: "Roboto Flex", sans-serif;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-item a:hover {
  color: $color-secundario;
}

.navbar-item {
  text-decoration: underline; /* Subrayar el texto */
}

.epigrafeTituloHome {
  font-family: "Raleway", sans-serif;
  font-size: 40px !important ;
  font-weight: 200;
  letter-spacing: 3px;
  color: $color-secundario;
}

.epigrafeTituloHome2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px !important ;
  font-weight: 400;
  letter-spacing: 3px;
  color: $color-secundario;
}

.tituloHome {
  font-family: 'Playfair Display SC', serif;
  font-size: 56px !important ;
  font-weight: 200;
  letter-spacing: 2px;
  color: $color-primario;
}

.texto-final-home {
  font-family: "Poiret One", cursive;
  font-size: 24px !important;
  color: $white;
}

.final-home {
  background-color: $color-secundario;
}

.footer {
  background-color: $color-primario;
}

.icono-footer {
  font-size: 40px;
  color: $white;
}

.icono-footer a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: $white;
}

.texto-footer {
  font-family: "Roboto Flex", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: $white;
}

.icono-footer a:hover {
  color: $color-secundario;
}

/* TRABAJOS */
.card-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.card-title {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: bold;
  margin: 2%;
}
.card-subtitle {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  margin: 10px;
}

.card-info {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  margin: 10px;
}

.card-link {
  font-family: "Roboto Flex", sans-serif;
  color: #007bff;
  font-style: italic;
}

.card-img {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 1;
}

.skills-section{
background-color: $color-secundario;
}

.skillsTitle{
  font-family: 'Playfair Display SC', serif;
  font-size:36px ;
  color:$color-primario;
  padding: 120px 0px 64px 0px;
}
.skills-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 24px !important ;
  font-weight: 400;
  letter-spacing: 3px;
  color: $white;
}

.skills-list {
  font-family: "Raleway", sans-serif;
  font-size: 20px !important;
  color: $white;
}

header {
  background-image: url('./assets/Img/tools.png'); 
  background-size: cover; 
  background-position: center; 
  height: auto;
}

.img-skills {
  position: relative;
}

#ninia-skills {
  width: 56%;
}

.img-skills img {
  position: absolute;
  top: -574px;
  left: 574px;
  width: auto;
  height: auto;
  z-index: 1;
}

.nav-link{
  color: dimgrey;
}

.nav-link:hover{
  color: white;
  background: rgb(210, 209, 209);
}

.nav-pills .nav-link.active {
 background-color: $color-secundario;
}

.toolsTitle{
  font-family: 'Playfair Display SC', serif;
  font-size:24px ;
  color:$white;
  padding: 40px 0px 4px 0px;
}

.icon-tools-section {
background: $color-primario;
}

#toolsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#toolsContainer img {
  max-width: 100px;
  margin: 10px;
}

#socialIconsList {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#socialIconsList li {
  margin: 0 10px; /* Espacio entre los íconos */
  list-style: none; /* Quita los puntos de lista */
}

#footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Esto centrará los elementos horizontalmente */
  text-align: center; /* Esto centrará el texto dentro de los elementos */
  padding: 20px; /* Espacio interior opcional */
}
